@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');

*{
	font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
	background-color:rgb(52, 56, 61);
}
#body{
		padding: 80px;
}
form{
  text-align: center;
}
h1{
  
	color: rgb(255, 255, 255);
	margin: 20px auto 0;
	width: 500px;
	text-align: center;
  padding-top: 30px;
}
h3 {
    margin-left: 550px;
    padding: 50px;
    color: white;
    width: 450px;
    text-align: center;
}

button {
    text-decoration: none;
    display: inline-block;
    padding: 12px 40px;
    margin: 10px 20px;
    border-radius: 30px;
    background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #0975c0 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    font-size: 24px;
    font-weight: 300;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(4, 51, 145, 0.35);
    transition: .5s;
}
.pressed-button:hover {
    box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
}


